@page "/MyForm"
@rendermode InteractiveAuto
@inject ILogger<MyForm> logger;


<div class="card">
    <div class="card-header">
        <h3 style="text-align:center">My Form</h3>
    </div>
    <div class="card-body">
        <EditForm Enhance Model="@Person" method="post" FormName="myPersonForm" OnValidSubmit="SubmitForm">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col">
                    <label>First Name</label>
                    <InputText @bind-Value="Person.FirstName" />
                    <ValidationMessage For="@(() => Person.FirstName)" />
                    <br />
                    <br />
                    <label>Last Name</label>
                    <InputText @bind-Value="Person.LastName" />
                    <ValidationMessage For="@(() => Person.LastName)" />
                </div> @*column left *@
                <div class="col">
                    <label>Life Story</label> <br />
                    <InputTextArea @bind-Value="Person.LifeStory" rows=4 />
                    <br /> 
                    <label>IsAlive</label> <br />
                    <InputCheckbox @bind-Value="Person.IsAlive"  />

                </div> @*column right *@
            </div> @*row *@
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>

</div>

<ul>
    @foreach (var person in people)
    {
        <li>@person.FirstName @person.LastName @person.LifeStory</li>
    }
</ul>

@code {

    [SupplyParameterFromForm]
    private PersonModel Person { get; set; } = new();

    private List<PersonModel> people = new();

    private void SubmitForm()
    {
        logger.LogInformation($"{Person.FirstName} {Person.LastName} {Person.LifeStory}");
        people.Add(Person);
        Person = new();
    }

}