@page "/MyForm"
@rendermode InteractiveAuto
@inject ILogger<MyForm> logger;

><h3>MyForm</h3>

<EditForm  Enhance Model="@Person" method="post" FormName="myPersonForm" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator />
    
    <div >
        <label>First Name</label>
        <InputText @bind-Value="Person.FirstName" />
        <ValidationMessage For="@(() => Person.FirstName)" />
    </div>
    <div >
        <label>Last Name</label>
        <InputText @bind-Value="Person.LastName" />
        <ValidationMessage For="@(() => Person.LastName)" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

<ul>
    @foreach (var person in people)
    {
        <li>@person.FirstName @person.LastName</li>
    }
</ul>

@code {

    [SupplyParameterFromForm]
    private PersonModel Person { get; set; } = new();

    private List<PersonModel> people = new();

    private void SubmitForm()
    {
        logger.LogInformation($"{Person.FirstName} {Person.LastName}");
        people.Add(Person);        
        Person = new();
    }

}